# Date and Time methods
This is section for the methods available for date and time. Pandas allows us to easily extract information for date and time.

In [3]:
import pandas as pd
import numpy as np

from datetime import datetime

In [6]:
my_year = 2023
my_month = 1
my_day = 15
my_hour = 2
my_min = 30
my_sec = 15

In [7]:
my_date = datetime(my_year, my_month, my_day)

In [8]:
my_date

datetime.datetime(2023, 1, 15, 0, 0)

In [11]:
my_ser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [13]:
my_ser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [15]:
time_ser = pd.to_datetime(my_ser)

In [16]:
time_ser[0].year

1990

In [17]:
euro_date = '31-12-2021'

In [18]:
pd.to_datetime(euro_date)

C:\Users\sawan\AppData\Local\Temp\ipykernel_19836\1538865445.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(euro_date)

Timestamp('2021-12-31 00:00:00')

In [19]:
euro_date_2 = '10-12-2000'

In [21]:
pd.to_datetime(euro_date_2, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [22]:
style_date = '12--Dec--2000'

In [24]:
# Pandas can read the date with different styles as long as the format has been
# Specified in the format section. 
pd.to_datetime(style_date, format="%d--%b--%Y")

Timestamp('2000-12-12 00:00:00')

In [25]:
custom_date = "12th of Dec 2000"

In [27]:
# Pandas is intelligent enough to identify the dates from this unusual data as well
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [28]:
sales = pd.read_csv("files/RetailSales_BeerWineLiquor.csv")

In [29]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [30]:
sales["DATE"] = pd.to_datetime(sales["DATE"])

In [33]:
sales["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [34]:
# We can read the data and parse the date at the same time
sales = pd.read_csv("files/RetailSales_BeerWineLiquor.csv", parse_dates=[0])

In [35]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]