# Working with the text data

## Cleaning data

In [1]:
import pandas as pd
import numpy as np

In [2]:
email = "sawanpatel2508@gmail.com"

In [3]:
email.split("@")

['sawanpatel2508', 'gmail.com']

In [4]:
names = pd.Series(["Hector", "bobo", "Carlos", "Johns"])

In [5]:
names

0    Hector
1      bobo
2    Carlos
3     Johns
dtype: object

In [6]:
names.str.upper()

0    HECTOR
1      BOBO
2    CARLOS
3     JOHNS
dtype: object

In [7]:
tech_finance = ["GOOG, AAPL, AMZN", "JPM, BAC, GS"]
tickers = pd.Series(tech_finance)

In [8]:
tickers

0    GOOG, AAPL, AMZN
1        JPM, BAC, GS
dtype: object

In [9]:
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [10]:
tickers.str.split(",", expand=True)

      0      1      2
0  GOOG   AAPL   AMZN
1   JPM    BAC     GS

In [11]:
names = pd.Series(["andrew", "Ha#ctor", "  John#"])

In [12]:
names

0     andrew
1    Ha#ctor
2      John#
dtype: object

In [13]:
names.str.replace("#", "").str.strip().str.capitalize()

0    Andrew
1    Hactor
2      John
dtype: object